[Unit]
Description=LND Lightning Daemon (testnet)
After=network-online.target

[Service]
ExecStart=/usr/local/bin/lnd --lnddir=/home/conduit/.lnd-testnet
ExecStop=/usr/local/bin/lncli --lnddir=/home/conduit/.lnd-testnet --rpcserver=127.0.0.1:10010 stop
User=conduit
Group=conduit
Type=simple
Restart=on-failure
RestartSec=10
TimeoutStopSec=600

PrivateTmp=true
ProtectSystem=full
NoNewPrivileges=true
PrivateDevices=true

[Install]
WantedBy=multi-user.target
